.last__content-row {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.content-row__column--last {
  width: 100%;
  flex: 0 0 100%;
}

.last {
  padding: 120px 0 150px;
  margin-left: auto;
}

.last__heading {
  margin-bottom: 81px;
}

.last__catalog {
  max-width: 1109px;
  margin-left: 405px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--card-width, 260px), 1fr)
  );
  grid-gap: var(--catalog-gap, 23px);
}

.product-card__img-wrapper--last {
  padding: 0 22px 0 23px;
}
