.previous-collection {
  height: 100%;
}

.previous-collection__wrapper {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  padding-bottom: 98px;
}

.previous-collection__heading {
   margin-top: 100px;
  --heading-line-offset: 30px;
  margin-bottom: 40px;
}

.previous-collection__text {
  max-width: 628px;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 64px;
}
